@model List<Comment>
@{
    ViewBag.Title = "ListAllCommentsForTicketAdminProjectManager";
}

<div id="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Comments</li>
        </ol>
        <!-- DataTables Example -->

        <div class="card mb-3">
            <div class="card-header">
                <table class="table table-striped table-fit" id="dataTable" cellspacing="-10">
                    <thead>
                        <tr>
                            <th scope="col">Comment</th>
                            <th scope="col">Date Created</th>
                            <th scope="col">Date Updated</th>
                            <th scope="col"></th>
                            <th scope="col"></th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var comment in Model)
                        {
                            <tr>
                                <td>@comment.TicketComment</td>
                                <td>@comment.DateCreated</td>
                                <td>@comment.DateUpdated</td>                      
                                <td><a href="@Url.Action("EditCommentAdminProjectManager", "Comment", new {id = comment.Id, ticketID = comment.TicketId})">Edit</a></td>
                                <td><a href="@Url.Action("DeleteCommentAdminProjectManager", "Comment", new {id = comment.Id, ticketID = comment.TicketId})">Delete</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



