@model UserSettingsViewModel
@{
    ViewBag.Title = "Settings";
}

        <div id="content-wrapper">
            <div class="container-fluid">
                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Home")">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active">Settings</li>
                </ol>
                <div class="card">
                    <div class="card-header">
                        @Model.Email
                    </div>
                    <div class="card-body">
                        <div>
                            <h5 class="card-title">Settings</h5>
                            <span class="card-text">User Profile</span>
                            <a href="@Url.Action("ViewUserDetails", "User", new {id = Model.Id})">View</a>
                            <a href="@Url.Action("EditUserDetails", "User", new {id = Model.Id})">Edit Profile</a>
                        </div>
                    </div>
                    <div>
                        <span class="card-text col-md-3">Password</span>
                        <a href="@Url.Action("ChangePassword", "Manage")">Change Password</a>
                    </div>
                </div>
            </div>
            </div>
            <!-- /.container-fluid -->

