@model List<CreateProjectViewModel>
@{
    ViewBag.Title = "ListAllProjects";
}

<div id="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Manage Users</li>
        </ol>
        <!-- DataTables Example -->

        <div class="card mb-3">
            <div class="card-header">
                <table class="table table-striped" id="dataTable" cellspacing="0">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Project Name</th>
                            <th scope="col">Number of Users</th>
                            <th scope="col">Number of Tickets</th>
                            <th scope="col">Date Created</th>
                            <th scope="col">Date Updated</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var project in Model)
                        {
                            <tr>
                                <th scope="row"></th>
                                <td>@project.Name</td>
                                <td>@project.Users.Count()</td>
                                <td>0</td>
                                <td>@project.DateCreated</td>
                                <td>@project.DateUpdated</td>
                                <td><a href="@Url.Action("EditProject", "Project", new {id = project.Id})">Edit Project</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
