@model List<TicketAttachment>
@{
    ViewBag.Title = "ListAllAttachmentsForTicketAdminProjectManager";
}

<div id="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Attachments</li>
        </ol>
        <!-- DataTables Example -->

        <div class="card mb-3">
            <div class="card-header">
                <table class="table table-striped table-fit" id="dataTable" cellspacing="10">
                    <thead>
                        <tr>
                            <th scope="col">Attachment</th>
                            <th scope="col">Date Created</th>
                            <th scope="col">Discription</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var attach in Model)
                        {
                        <tr>
                            <td><a href="@attach.FilePath">@attach.FilePath</a></td>
                            <td>@attach.DateCreated</td>
                            <td>@attach.AttachmentDiscription</td>
                            <td><a href="@Url.Action("DeleteAttachmentAdminProjectManager", "Attachment", new {id = attach.Id, ticketID = attach.TicketId})">Delete</a></td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>





